table{width: 100%; height: 100%; border-collapse: collapse ;}
table th{background-color: green; color: white;padding: 5px;} 
table td{text-align: center; border: 1px solid brown;} 
table tr:nth-child(2n+1) {background:#ddd}
